body {
    background-color: #f2f6fa !important;
    overflow: hidden;
}

.disabled {
    opacity: 0.2 !important;
    cursor: no-drop !important;
}

/* === Scroll Bars === */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin-top: 20px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.02); 
padding-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 1em;
cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* === Map === */

.shadow-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100vw;
    height: 100vh;
    opacity: 0.07;
    object-fit: contain;
}

.country {
    fill: #ffffff;
    stroke: #ebebef;
    cursor: pointer;
    transition-duration: 0s;
}

.country-hover-2 {
    fill: url(#stripBlue);
    stroke: none;
}

.country-hover-3 {
    fill: #99C3FF;
    stroke: #1974ff;
}

.country-hover {
    fill: #dbeaff;
    stroke: #1974ff;
}

.country-selection {
    fill: #0b62e4;
    stroke: #0b62e4;
}

.country-back-animation {
    transform-box: fill-box;
    animation: pulse 1.5s linear infinite;
    transform-origin: 50% 50%;
    pointer-events : none;
}

.country-back-animation-for-big-countries {
    transform-box: fill-box;
    animation: bigPulse 1.5s linear infinite;
    transform-origin: 50% 50%;
    pointer-events : none;
}

.country:active {
    fill: #0e7dd9;
    stroke: rgb(14, 125, 217);
}

.world-svg {
    width: 100vw;
    height: 100vh;
    /*background-color: #f2f6fa;*/

    position: absolute;
    z-index: -2;
}

/* === Left NavBar === */

#vertical-left-navbar {
    height: 100vh;
    width: 100px;
    position: absolute;
    background-color: #f9fbfd;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    border-right: 1px solid #d0d0d0;
}

#vertical-left-navbar .logo {
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    color: #0f6fff;
}

#vertical-left-navbar .update {
    text-align: center;
    font-size: 0.6em;
    font-weight: 600;
}

#vertical-left-navbar .time {
    text-align: center;
    font-size: 0.5em;
    margin-top: 0.5em;
}

.left-navbar-container .nav-button {
    padding: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-right: 2px solid #ffffff;
    font-size: 1.2em;
    color: #c3c3c3;
    cursor: pointer;
    transition: 0.2s;
}

.left-navbar-container .nav-button:hover {
    color: #0f6fff !important;
    border-right: 2px solid #0f6fff !important;
    background-color: #0b62e412;
}

.left-navbar-container .nav-button:active {
    color: white !important;
    border-right: 2px solid #0f6fff;
    background-color: #0f6fff;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.left-navbar-container .active {
    color: #0f6fff !important;
    border-right: 2px solid #0f6fff !important;
    background: linear-gradient(-90deg, #0b62e412, transparent);
    background: -webkit-linear-gradient(-90deg, #0b62e412, transparent);   
    background:    -moz-linear-gradient(-90deg, #0b62e412, transparent);
    background:     -ms-linear-gradient(-90deg, #0b62e412, transparent);
    background:      -o-linear-gradient(-90deg, #0b62e412, transparent);
}

.left-navbar-container {
    margin-top: 25px;
}

.notification {
    position: absolute;
    background-color: #0f6fff;
    color: white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 0.6em;
    transform: translate(10px, -2px);
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

/* === Right NavBar === */

#vertical-right-bar {
    position: absolute;
    transform: translateX(30vw);
    right: 0;
    width: 30vw;
    height: 100vh;
    backdrop-filter: blur(4px) contrast(100%);
    -webkit-backdrop-filter: blur(4px) contrast(100%);
    background-color: rgb(255 255 255 / 0.2);
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    transition-duration: 0.2s;
    padding: 1.5em 2em 1.5em 2em;

    display: none;

    z-index: 5;
}

#vertical-right-bar #countryName {
    font-size: 1.5em;
    font-weight: bold;
}

#vertical-right-bar #currentFlag {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.5em 2em 0 0;
    width: 6vw;
    height: 4em;
    background-image: url("svg-flags/ad.svg");
    background-size: 100% 100%;
}

#switchMenuButton {
    width: 100%;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    border: 1px solid #dcdfe1;
}

#switchMenuButton .vertical-separator{
    height: 100%;
    width: 1px;
    background-color: #dcdfe1;
}

#switchMenuButton .choice-button {
    width: 50%;
    text-align: center;
    margin: 0.4em;
    border-radius: 0.2em;
    font-size: 0.8em;
    padding: 0.15em;
}

#switchMenuButton .choice-button svg{
    margin-top: -0.2em;
}

#switchMenuButton .active {
    background-color: #0f6fff;
    background: linear-gradient(45deg, #0f6fff, #0f9bff);
    background: -webkit-linear-gradient(45deg, #0f6fff, #0f9bff);   
    background:    -moz-linear-gradient(45deg, #0f6fff, #0f9bff);
    background:     -ms-linear-gradient(45deg, #0f6fff, #0f9bff);
    background:      -o-linear-gradient(45deg, #0f6fff, #0f9bff);
    color: white;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

#switchMenuButton .not-active {
    color: #dcdfe1;
}

#switchMenuButton .not-active:hover {
    color: #212529;
    background-color: #f1f1f1;
}

.information-categorie {
    margin-top: 1.5em;
    font-weight: 500;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dfe1e2;
    margin-bottom: 0.9em;
}

.table-informations {
    width: 100%;
}

.table-informations tr {
    font-weight: 100;
    font-size: 0.8em;
}

.table-informations .indice {
    text-align: right;
    padding-right: 0.8em;
}

.table-information .information a svg {
    padding-bottom: 0.1em;
}

.rank {
    text-align: right;
    padding-right: 0.5em;
}

.translate {
    text-align: right;
    padding-right: 0.8em;
}

.accordion-categorie {
    color: #212529;
}

.accordion-categorie:hover {
    color: black;
    text-decoration: none;
}

.information-categorie svg {
    transition: 0.2;
}

.check-level-1 {
    color: #41cc59;
    font-size: 1.3em;
    text-align: right;
    padding-right: 0.5em;
}

.uncheck-level-1 {
    color: #fb235d;
    font-size: 1.3em;
    text-align: right;
    padding-right: 0.5em;
}

.span-nd {
    font-size: 0.75em;
    color: #212529;
}

#informationContainerScroll {
    margin-top: 25px;
    margin-bottom: 25px;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 4em - 2rem - 1px - 100px);

    /* Scroll bar width */
    padding-right: 15px;
}

#informationContainerScrollSecond {
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 4em - 2rem - 1px - 75px);

    /* Scroll bar width */
    padding-right: 15px;

    display: none;
}

#informationContainerScrollSecond .title-not-found {
    text-align: center;
}

#informationContainerScrollSecond img {
    margin-top: 2em;
    max-height: 10em;
    filter: grayscale(0.2) drop-shadow(2px 4px 6px rgba(0,0,0, 0.3));
    opacity: 0.6;
}

#informationContainerScrollSecond .description-not-found {
    text-align: center;
    font-weight: 100;
}

.selecting-information-index {
    font-weight: 500 !important;
    color: #0f6fff;
}

.selecting-information-index .span-nd{
    font-weight: 500 !important;
    color: #0f6fff;
}

/* Energy Mix */
#energyMix {
    padding-top: 2em;
}
#energyMix .energy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2em;
}

#energyMix .energy-label {
    font-size: 0.8em;
    font-weight: 100;
    margin-right: 1em;
    width: 40%;
}

#energyMix .energy-label img {
    width: 1em;
    margin-right: 1em;
}

#energyMix .load-container {
    width: 70%;
    height: 0.4em;
    margin-top: 0.45em;
    background: linear-gradient(-45deg, rgb(11 98 228 / 0.2), transparent);
    background: -webkit-linear-gradient(-45deg, rgb(11 98 228 / 0.2), transparent);   
    background:    -moz-linear-gradient(-45deg, rgb(11 98 228 / 0.2), transparent);
    background:     -ms-linear-gradient(-45deg, rgb(11 98 228 / 0.2), transparent);
    background:      -o-linear-gradient(-45deg, rgb(11 98 228 / 0.2), transparent);
    border-radius: 0.4em;
}

#energyMix .load-bar {
    transition: 0.2s;
    height: 0.4em;
    width: 30%;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #f70d76 0%, #fd2d4f 55%, #fe4c27 100%);
    background: -webkit-linear-gradient(90deg, #f70d76 0%, #fd2d4f 55%, #fe4c27 100%);   
    background:    -moz-linear-gradient(90deg, #f70d76 0%, #fd2d4f 55%, #fe4c27 100%);
    background:     -ms-linear-gradient(90deg, #f70d76 0%, #fd2d4f 55%, #fe4c27 100%);
    background:      -o-linear-gradient(90deg, #f70d76 0%, #fd2d4f 55%, #fe4c27 100%);
    border-radius: 04em;
    box-shadow: 0 0px 6px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

#energyMix .energy-pourcentage {
    font-size: 0.8em;
    font-weight: 100;
    text-align: right;
    width: 30%;
}

.extend-category {
    float: right;
    margin-right: 0.35em;
    opacity: 0.4;
    display: none;
}

.separator-clash {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* === Main Dialog Box === */

#mainDialogBox {
    width: calc(100vw - 40px - 100px - 6em - 60px);
    height: calc(100vh);
    position: absolute;
    background-color: rgb(255 255 255 / 0.2);
    top: 0;
    /* left: calc(100px + 100px); */
    right: 0;
    backdrop-filter: blur(4px) contrast(100%);
    -webkit-backdrop-filter: blur(4px) contrast(100%);
    /* border-radius: 0.4em; */
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    padding: 1.5em calc(30vw + 2em - 10px) 1.5em 2em;
    transition: 0.2s;

    display: none;
    transform: translateX(calc(100vw - 40px - 100px - 5em - 40px));
    opacity: 0;

    z-index: 4;
}

#mainDialogBox .title-mainDialogBox {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#mainDialogBox .maj-index-container {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 100;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

#mainDialogBox h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
}

#mainDialogBox p {
    font-size: 0.8em;
    font-weight: 100;
    text-align: justify;
}

#mainDialogBox .closeMainDialogBox {
    float: left;
    color: #a2a2a2;
    margin-top: 0.1em;
    cursor: pointer;
}

#mainDialogBox .closeMainDialogBox:hover {
    color: #212529;
}

#mainDialogBox .closeMainDialogBox:active {
    color: #0f6fff;
}

#mainDialogBox .source-container {
    font-size: 0.8em;
    font-weight: 100;
    padding-bottom: 1.3rem;
    padding-top: 0.3rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#mainDialogBox .source-container .organism-label {
    font-weight: 500;
}

#mainDialogBox .source-container .source-link {
    float: right;
    padding-right: 20px;
    color: #0f6fff;
}

#containerDescriptionIndex {
    overflow-y: scroll;
    height: calc(100vh - (1.5em*2 + 3.5em + 0.8em + 2rem + 3.8rem));

    /* Scroll bar width */
    padding-right: 20px;
    margin-top: 1.5em;

}

.update-date-of-indice {
    text-align: right;
}

#warConflict {
    background-color: white;
    /* border: 1px solid #dcdfe1; */
    border-radius: 0.4em;
    width: 100%;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    padding: 0.7em;
    display: flex;
    align-items: center;

    /*display: none;*/
}

#warConflict .war-icon {
    height: calc(50px);
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#warConflict .war-info {
    margin-left: 1em;
}

#warConflict .war-info h5 {
    font-size: 0.8em;
    line-height: 1.4em;
    font-weight: 500;
}

#warConflict .war-info p {
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: 0;
}

/* === Main page === */

.action-button {
    position: absolute;
    display: flex;
    left: calc(100px + 20px);
    background: linear-gradient(45deg, #0f6fff, #0f9bff);
    background: -webkit-linear-gradient(45deg, #0f6fff, #0f9bff);   
    background:    -moz-linear-gradient(45deg, #0f6fff, #0f9bff);
    background:     -ms-linear-gradient(45deg, #0f6fff, #0f9bff);
    background:      -o-linear-gradient(45deg, #0f6fff, #0f9bff);
    color: white;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    cursor: pointer;
    font-size: 0.8em;
    text-transform: uppercase;
    transition-duration: 0.2s;
}

.action-button:hover {
    background: linear-gradient(45deg, #0f6fff, #0b62e4);
    background: -webkit-linear-gradient(45deg, #0f6fff, #0b62e4);  
    background:    -moz-linear-gradient(45deg, #0f6fff, #0b62e4);
    background:     -ms-linear-gradient(45deg, #0f6fff, #0b62e4);
    background:      -o-linear-gradient(45deg, #0f6fff, #0b62e4);
    background-color: #0b62e4;
}

.action-button:active {
    background: linear-gradient(45deg, #0050c8, #0050c8);
    background: -webkit-linear-gradient(45deg, #0050c8, #0050c8);  
    background:    -moz-linear-gradient(45deg, #0050c8, #0050c8);
    background:     -ms-linear-gradient(45deg, #0050c8, #0050c8);
    background:      -o-linear-gradient(45deg, #0050c8, #0050c8);
    background-color: #0050c8;
}

.action-button p {
    margin-bottom: 0;
}

.action-button svg {
    margin-top: 0.3em;
}

#searchButton {
    top: 20px;
    left: calc(100px + 20px);
}

#searchButton svg{
    font-size: 0.2em;
}

#searchButton input {
    font-weight: 100;
    margin-left: 0rem;
    font-size: 0.6em;
    padding: 0em;
    border-radius: 0.4em;
    border: 0px solid white;
    padding-left: 0em;
    width: 0vw;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    /*display: none;*/

    transition: 0.5s;
    opacity: 0;
}

#searchButton input:focus {
    outline:0px !important;
    text-transform: capitalize;
    font-weight: 600;
}

#searchButton input:focus::placeholder {
    color: white;
}

#closeSearchBar {
    margin-right: -0.8rem;
    margin-left: 0.5rem;
    margin-top: -0.2em;
    padding-left: 0.2em;
    padding-right: 0.1em;
    transform: translateY(0.1em);
    background-color: #0f6fff;
    border-radius: 0.4em;

    display: none;
}

#closeSearchBar:hover {
    background-color: #3586ff;
}

#back-button {
    top: calc(40px + 1rem + 0.8em);
    display: none;
    opacity: 0;
}

#flipFlopMenu {
    top: 112px;
    display: none;
}

#zoomButton {
    position: absolute;
    bottom: 20px;
    left: calc(100px + 20px);
    background-color: white;
    border-radius: 0.4em;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

#zoomButton div {
    padding: 0.7em;
    text-align: center;
}

#zoomButton hr {
    margin: 0;
}

#zoomButton div:hover {
    background-color: #f5f5f5;
}

#zoomButton div:active {
    background-color: #e8e8e8;
}

.alert-banner {
    position: absolute;
    background-color: #fc7c5f;
    border-radius: 0.4em;
    padding: 0.7rem 4rem;
    color: white;
    font-size: 0.8em;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    font-weight: 500;
    
    animation: banner-jump 0.9s infinite;
    animation-timing-function: ease-in;
    display: none;
}

.alert-banner .icon-banner {
    margin-right: 1.5em;
}

/* =============== Animation =============== */

@keyframes banner-jump {
    0% {top: 20px}
    50% {top: 25px}
    100% {top: 20px}
}

@keyframes pulse {
    0%      { transform: scale(1); opacity: 0.15;}
    100%    { transform: scale(2); opacity: 0;}
}

@keyframes bigPulse {
    0%      { transform: scale(1); opacity: 0.15;}
    100%    { transform: scale(1.3); opacity: 0;}
}

@keyframes pulse-color {
    0%     { fill: #0f9bff; stroke: #0f9bff; }
    50%    { fill: #0f6fff; stroke: #0f6fff; }
    100%   { fill: #0f9bff; stroke: #0f9bff; }
}

/* ________________ MEDIA QUERY ________________*/

@media (max-width: 900px) {
    .disabled-on-small-screen {
        display: none !important;
    }

    #vertical-right-bar {
        width: 50vw;
    }

    #mainDialogBox {
        width: calc(100vw - 100px) !important;
        padding: 1.5em calc(50vw + 2em - 10px) 1.5em 2em !important;
    }
}